{% extends '::base.html.twig' %}
{% set title = 'Edit Student' %}

{% block page_content %}
{% if display_form %}
<form method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <input type="submit" value="Submit">
</form>
{% else %}
    <p class="{% if success %}success{% else %}error{% endif %}">
        {{ action | capitalize }} action on student 
        {{ student.getName() }}
        {% if success %}succeeded{% else %}failed.{% endif %}.
        {% if error is defined and error %}
        Error: {{ error }}
        {% endif %}
    </p>     
{% endif %}
<a href="{{ app.request.baseUrl }}/students">Back to students</a>
{% endblock %}

